/* ------------------ */
/* Custom properties */
/* ------------------ */

:root {
   --primary: #53b3ef;
   --secondary: #3ea9eb;
   --gray: #bbc5cf;
   --dark-gray: #464646;
   --light: #ffffff;
}

/* ------------------ */
/* Reset */
/* ------------------ */

/* Box sizing */

*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
}

/* Reset margin */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
   margin: 0;
}

/* images */
img,
picture {
   max-width: 100%;
   display: block;
}

/* forms elements */
input,
button,
textarea,
select {
   font: inherit;
}

/* ---------------
------STYLING-----
------------------*/

body {
   background: var(--primary);
   min-height: 100vh;
}

.select-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #fff;
   padding: 20px 25px 25px;
   border-radius: 5px;
}

.select-box header {
   font-size: 23px;
   font-weight: 600;
   padding-bottom: 10px;
   border-bottom: 1px solid #ccc;
}
