/* ------------------ */
/* Custom properties */
/* ------------------ */

:root {
   --primary: #53b3ef;
   --secondary: #3ea9eb;
   --gray: #bbc5cf;
   --dark-gray: #464646;
   --light: #ffffff;
}

/* ------------------ */
/* Reset */
/* ------------------ */

/* Box sizing */

*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
}

/* Reset margin */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
   margin: 0;
}

/* images */
img,
picture {
   max-width: 100%;
   display: block;
}

/* forms elements */
input,
button,
textarea,
select {
   font: inherit;
}

/* ---------------
------STYLING-----
------------------*/

body {
   background: var(--primary);
   /* min-height: 100vh; */
}

.select-box,
.playboard {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.select-box {
   background: #fff;
   padding: 20px 25px 25px;
   border-radius: 5px;
   max-width: 330px;
   width: 100%;
   display: none;
}

.select-box header {
   font-size: 23px;
   font-weight: 600;
   padding-bottom: 10px;
   border-bottom: 1px solid #ccc;
}

.select-box .title {
   font-size: 18px;
   font-weight: 500;
   margin: 20px 0;
}

.select-box .options {
   display: flex;
   width: 100%;
}

.options button {
   cursor: pointer;
   width: 100%;
   font-size: 18px;
   font-weight: 500;
   padding: 8px 0;
   border: none;
   outline: none;
   border-radius: 5px;
   background: var(--primary);
   color: #fff;
   transition: all 300ms ease;
}

.options button:hover {
   transform: scale(0.96);
}

.options button.playerX {
   margin: 5px;
}

.options button.playerY {
   margin: 5px;
}

.playboard .details {
   background: #fff;
   padding: 7px;
   border-radius: 5px;
}

.playboard section {
   display: flex;
}

.playboard section span {
   display: block;
   margin: 2px;
   height: 80px;
   width: 80px;
   background: #fff;
   border-radius: 5px;
}
